header {
	background-color: #d3d3d3;
	height: 90px;
	text-align: center;
	font-size: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

img{
  vertical-align:bottom;
}

.imagetable {
  border-bottom-color: white;
}

table {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

table, th, td {
  border: 2px solid;
  text-align: center;
  vertical-align: center;
}
th {
  min-width: 100px;
}

#page-wrapper {
	width: 960px;
  min-height: 720px;
	margin: 0 auto;
  align-content: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

footer {
	background-color: #d3d3d3;
	height: 90px;
	clear: both;
}